{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if post.owner == user %}
        <h1>Edit Post</h1>
    {% elif not post.owner%}
        <h1>New post</h1>
    {% endif %}
    <form method="POST" class="post-form">
             {% csrf_token %}
                <p>Owner: {{ user|title }}</p>
                {% for field in form %}
                    {{ field.errors }}
                    <!-- <div id="froala-editor"> -->
                    <label for="lname">{{ field.label_tag }}</label>
                    <!-- </div> -->
                    {{ field }}
                    <br/>
                {% endfor %}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
{% endblock %}
