{% extends 'base.html' %}
{% block content %}
    <div class="post">
        <h1 align="center">{{ post.title }}</h1>
        {% if post.owner == user %}
            <a class="btn btn-default" href="{% url 'post_update' pk=post.pk %}">Edit</a>
        {% endif %}
        <p>Published on: {{ post.published_date }}
            {% if post.is_approve %} &#x2713; {% endif %}
        </p>
        {% if user.is_authenticated %}
            <p>{{ post.owner|title }}</p>
        {% endif %}
        <p>{{ post.text|safe }}</p>
    </div>
{% endblock %}
