{% block navigation %}
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">CONFESSION</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
    {% if user.is_authenticated %}
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a  href="{% url 'post_list' %}">My Blogs</a>
              </li>
              {% if user.is_chief %}
                <li class="nav-item">
                  <a href="{% url 'post_approve_list' %}">Blogs to Approve</a>
                </li>
                <li class="nav-item">
                  <a  href="{% url 'user_approved' %}">Blogs I Approved</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a  href="{% url 'logout' %}">Log out</a>
              </li>
              <li class="nav-item">
                <a  id="username" href="{% url 'user_detail' pk=user.pk %}" >
                    {{ user|title }}
                    {% if user.is_chief %}
                      <i class="fas fa-crown"></i>
                    {% endif %}
                  </a>
              </li>
              <li>
                <div class="col-md-8 text-md-right header-buttons">
                  <a href="{% url 'user_detail' pk=user.pk %}" class="site-btn">Discover Me</a>
              </div>
              </li>
            </ul>
            {% block notification %}
              {% include 'notification.html' %}
            {% endblock %}
          </div>
        </div>
      </nav>
    {% else %}
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a  href="{% url 'login' %}">LogIn</a>
              </li>
              <li class="nav-item">
                <a  href="{% url 'editor_signup' %}">Sign up as Editor</a>
              </li>
              <li class="nav-item">
                <a  href="{% url 'chief_signup' %}">Sign up as Moderator</a>
              </li>
              <li>
                {% if user.slug %}
                  <div class="col-md-8 text-md-right header-buttons">
                    <a href="{% url 'user_detail' slug=user.slug %}" class="site-btn">Discover Developer</a>
                  </div>
                {% else %}
                  <div class="col-md-8 text-md-right header-buttons">
                    <a href="/user/user-detail/mashwani" class="site-btn">Discover Developer</a>
                  </div>
                {% endif %}
              </li>
            </ul>
          </div>
      </nav>
    {% endif %}
    <br>
    <br>
    <br>
    <br>
{% endblock %}