{% block notification %}

<script type="text/javascript">
    
$(document).ready(function(){
    $("#dropdownMenu1").click(function(){
        $.ajax({url: "{% url 'notify-status' %}", success: function(result){
            document.getElementById("notify-count").innerHTML = 0;
        }});
    });
});

document.getElementById("notify-count").value = "11";
</script>

<div class="dropdown" style="float: right; padding: 13px">

    <a href="" onclick="return false;" role="button" data-toggle="dropdown" id="dropdownMenu1" data-target="home" style="float: left" aria-expanded="true">
        <i class="fa fa-bell-o" style="font-size: 20px; float: left; color: black">
        </i>
    </a>
    <span id="notify-count" class="badge badge-danger">
        {% if unread_count %}
            {{ unread_count }}
        {% else %}
            0
        {% endif %}
    </span>
    <ul class="dropdown-menu dropdown-menu-left pull-right" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
            <a href="#" class="dropdown-menu-header">Notifications</a>
        </li>
        <ul class="timeline timeline-icons timeline-sm" style="margin:10px;width:210px">
            {% for notify in notifications %}
                    <li>
                        <p>
                            <span class="timeline-icon"><i class="fa fa-file-text-o" style="color:#009688"></i></span>
                            <span>
                                <a href="{% url 'post_detail' pk=notify.blog.id %}">{{ notify.verb }}</a>
                            </span>
                        </p>
                    </li>
            {% endfor %}
        </ul>
        <li role="presentation">
            <a href="#" class="dropdown-menu-header"></a>
        </li>
    </ul>
</div>


{% endblock %}
